#logo{
    position: absolute;
    left:0px;
    right:0px;
    margin:auto;
    width:200px;
    height:auto;
    cursor:pointer;
}

#main{
    position: absolute;
    left:0px;
    right:0px;
    top:150px;
    margin:auto;
    width:500px;
    height:400px;
    border:1px solid grey;
    border-radius: 20px;
    
}

#greet{
    position: absolute;
    left:100px;
    top:15px;
    width:100px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

#usernameDiv{
    position: absolute;
    left:0px;
    right:0px;
    top:100px;
    margin:auto;
    width:300px;
    height:30px;
}
#username{
    position: absolute;
    width:100%;
    left:0px;
    border:none;
    border-bottom: 1px solid grey;
}

#passwordDiv{
    position: absolute;
    left:0px;
    right:0px;
    top:160px;
    margin:auto;
    width:300px;
    height:30px;
}

#password{
    position: absolute;
    width:100%;
    left:0px;
    border:none;
    border-bottom: 1px solid grey;
}
#submit{
    position: absolute;
    left:0px;
    right:0px;
    width:100px;
    height:30px;
    margin: auto;
    top:220px;
    border:none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
}
#forget{
    position: absolute;
    top:300px;
    left:100px;
    color:blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    cursor:pointer;
}
#register{
    position: absolute;
    top:300px;
    left:300px;
    color:blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    cursor:pointer;
}

